* {
	margin: 0;
	padding: 0;
}
.main {
	width: 329px;
	margin: auto;
	background-color: #292d36;
	border-radius: 8px;
}

.form {
    text-align: center;
}

.tampil {
    margin-right: 50%;
    color: #ffffff;
	width: 100%;
    font-size: 35px;
	height: 200px;
	border:none;
	background-color: transparent;
	margin-bottom: 10px;
	border-radius:8px;
}

.btninput {
    background-color: #39383d;
    border: none;
    border-radius: 20px;
}

#ijo{
    color: #13d1b8;
}

#merah{
    color: #d84e55;
}

.tombol {
    font-size: 20px;
	width: 75px;
	height: 75px;
	margin: 2px;
	color: #fff;
	border: none;
	border-radius: 8px;
	background-color: transparent;
}