* {
  margin: 0;
  padding: 0;
}

/* perubahan */
label {
  width: 70px;
  height: 28px;
  position: relative;
  display: block;
  margin-left: 40%;
  background-color: #292d36;
  border-radius: 200px;
  box-shadow: inset 0px -5px 15px rgba(255, 255, 255, 0.4), inset 0px 5px 15px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

label::after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 180px;
  background: linear-gradient(180deg, #777, #3a3a3a);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

#lightmode-togle {
  width: 0;
  height: 0;
  visibility: hidden;
}

#lightmode-togle:checked + label {
  background: #ffffff;
}

#lightmode-togle:checked + label:after {
  left: 66px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #ffcc89, #d8860b);
}

label:active:after {
  width: 40px;
}
/* akhir perubahan */

.main {
  width: 329px;
  margin: auto;
  background-color: #292d36;
  border-radius: 8px;
}

.form {
  text-align: center;
}

.tampil {
  margin-right: 50%;
  color: #f1ebdf;
  width: 95%;
  font-size: 35px;
  height: 200px;
  border: none;
  background-color: transparent;
  margin-bottom: 10px;
  border-radius: 8px;
  text-align: right;
}

.btninput {
  background-color: #39383d;
  border: none;
  border-radius: 20px;
}

#ijo {
  color: #13d1b8;
}

#ijo1 {
  color: #13d1b8;
}

#ijo2 {
  color: #13d1b8;
}

#ijo3 {
  color: #13d1b8;
}

#merah {
  color: #d84e55;
}

#merah1 {
  color: #d84e55;
}

#merah2 {
  color: #d84e55;
}

#merah3 {
  color: #d84e55;
}

#merah4 {
  color: #d84e55;
}

.tombol {
  font-size: 20px;
  width: 75px;
  height: 75px;
  margin: 2px;
  color: #f1ebdf;
  border: none;
  border-radius: 8px;
  background-color: transparent;
}
